{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <!-- Подключаем стили Bootstrap (замените на свой путь к файлам Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>{% trans "Список студентов" %}</h1>

    <!-- Форма для фильтрации студентов -->
    <form method="get" class="form-inline" style="padding-bottom: 40px">
        <div class="form-row">
            <div class="form-group " style="margin-right: 25px">
                <label for="{{ filter_form.before_university.id_for_label }}"
                       style="margin-right: 10px">{% trans "Образование" %}</label>
                {{ filter_form.before_university }}
            </div>

            <div class="form-group " style="margin-right: 25px">
                <label for="{{ filter_form.university.id_for_label }}"
                       style="margin-right: 10px">{% trans "ВУЗ" %}</label>
                {{ filter_form.university }}
            </div>

            <div class="form-group" style="margin-left: 25px;">
                <label for="{{ filter_form.course.id_for_label }}" style="margin-right: 10px">{% trans "Курс" %}</label>
                {{ filter_form.course }}
            </div>

            <div class="form-group" style="margin-left: 25px; padding-top: 25px">
                <label for="{{ filter_form.manager_status.id_for_label }}"
                       style="margin-right: 10px">{% trans "Статус менеджера" %}</label>
                {{ filter_form.manager_status }}
            </div>

            <div class="form-group" style="margin-left: 25px; padding-top: 25px">
                <label for="{{ filter_form.education_status.id_for_label }}"
                       style="margin-right: 10px">{% trans "Статус обучение" %}</label>
                {{ filter_form.education_status }}
            </div>

            <!-- Добавьте другие поля фильтрации здесь, если необходимо -->

            <div class="form-group " style="margin-left: 25px; padding-top: 25px">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Применить фильтры" %}</button>
            </div>
        </div>
    </form>
    <!-- Таблица со списком студентов -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-all">
                </th>

                <th>{% trans "ФИО" %}</th>
                <th>{% trans "Образование" %}</th>
                <th>{% trans "ВУЗ" %}</th>
                <th>{% trans "Курс" %}</th>
                <th>{% trans "Статус менеджера" %}</th>
                <th>{% trans "Статус обучение" %}</th>
                <th>{% trans "Дата последней рассылки" %}</th>
                <th>{% trans "Заголовок последней рассылки" %}</th>
                <th>{% trans "Сообщение последней рассылки" %}</th>
                <!-- Добавьте другие поля студента, которые вам нужны -->
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_students" value="{{ student.id }}">
                    </td>
                    <td>{{ student.full_name }}</td>
                    <td>{{ student.before_university }}</td>
                    <td>{{ student.university }}</td>
                    <td>{{ student.course }}</td>
                    <td>{{ student.manager_status }}</td>
                    <td>{{ student.education_status }}</td>
                    <td>{{ student.get_last_mailing.sent_date }}</td>
                    <td>{{ student.get_last_mailing.title }}</td>
                    <td>{{ student.get_last_mailing.message }}</td>

                    <!-- Добавьте другие поля студента, которые вам нужны -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% trans message %}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ mailing_form.as_p }}

        <button type="submit" class="btn btn-success">{% trans "Отправить студентам" %}</button>
    </form>
</div>

<!-- Подключаем скрипты Bootstrap (замените на свой путь к файлам Bootstrap) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.querySelector('#select-all');
        const studentCheckboxes = document.querySelectorAll('input[name="selected_students"]');

        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = selectAllCheckbox.checked;

            studentCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
    });
</script>
</body>
</html>